/STAndroid/SharedTraveller/bin/classes
/STAndroid/SharedTraveller/gen
/STAndroid/SharedTraveller/bin/STAndroid/.metadata
/STAndroid/RemoteSystemsTempFiles
/Environment
/RemoteSystemsTempFiles
/STAndroid/SharedTraveller/bin