/STAndroid/SharedTraveller/bin/classes
/STAndroid/SharedTraveller/gen
/STAndroid/SharedTraveller/bin/STAndroid/.metadata
/STAndroid/RemoteSystemsTempFiles
/Environment
/RemoteSystemsTempFiles
/STAndroid/SharedTraveller/bin
/STAndroid/SharedTraveller/.gitignore
/STAndroid/swipelistview/.gitignore
/STAndroid/ViewPagerIndicatorLibrary/.gitignore
/STAndroid/EndlessAdapter/.gitignore
/STAndroid/EndlessAdapter/bin
/STAndroid/SwipeListView/bin
/STAndroid/ViewPagerIndicatorLibrary/bin
/.metadata
/STAndroid/.metadata

/STServer/.factorypath
/STServer/.settings/org.eclipse.jdt.apt.core.prefs
